<p id="notice text-success"><%= notice %></p>

<div class="container ">
<% if user_signed_in? %>
<p class="text-muted">WELCOME!  <strong style="border-bottom:2px solid red"><%= current_user.email %> </strong></p>

<h1>Friends</h1>

<table class="table table-secondary text-center">
  <thead class="text-danger">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Social</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
      <tr>
        <td><%= link_to friend.first_name, friend %> <%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.social %></td>
        <td><%= link_to 'Show', friend %></td>
        <td><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td><%= button_to friend_path(friend), method: :delete, data: { confirm: 'Are you sure?' } do%>destroy<% end %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="text-center" >
<h1> Sign In to Add/See friends </h1>
<h1 style="font-size:60px"><i class="bi bi-emoji-smile"></i></h1>
</div>
<% end %>


</div>